@import url('https://fonts.googleapis.com/css?family=Raleway');

body {
    font-family: 'Raleway', sans-serif;
}
.jumbotron {
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.topColor {
    width: 100vw;
    height: 50px;
    background-color: #cbbb4c;
}
.links {
    width: 350px;
    vertical-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgb(51,51,51);
    border-width: inherit;
}
.links > * {
    border-top: 1px solid rgb(51,51,51);
    width: 100%;
    font-size: 20px;
    height: 20px;
    padding: 20px;
}

.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main img {
    border-radius: 50%;
    border: 2px solid #cbbb4c;
    padding: 20px;
}